<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body><font face="sans-serif">
        <strong><h1 align='center' >Gujarat Cricket Association</h1></strong>
        <h5 align='center'>230/231, Akshar Arcade,Navrangpura, Ahmedabad, Gujarat 380009</h3>
            <hr>
            <a href="players/">applied player details</a>
            <br><br>
            If you want to apply for state selection <a href="form/">please click here.</a><br><br>

            {% for i in "XXX" %}
                    <h7>blah </h7>
            {% endfor %}
            <br>
            {% for i in "XXXxxxxx" %}
                    <h7>blah </h7>
            {% endfor %}
            <br>
            {% for i in "XXXxxxxxxxxxxxxx" %}
                    <h7>blah </h7>
            {% endfor %}
            <br>
            {% for i in "XXXxx" %}
                    <h7>blah </h7>
            {% endfor %}
            <br>
            {% for i in "XXXxxxxxx" %}
                    <h7>blah </h7>
            {% endfor %}
            <br>
            {% for i in "XXXxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                    <h7>blah </h7>
            {% endfor %}
            <br></h5></font>
</body>
</html>