<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>successfully applied</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="top" ><font face="sans-serif">
<strong><h1 align='center' >Gujarat Cricket Association</h1></strong>
        <h5 align='center'>230/231, Akshar Arcade,Navrangpura, Ahmedabad, Gujarat 380009</h3>
        </h5></font>           <hr>

</div>
Your details have been saved.<br><a href='home/'>click here to go to home</a>
</body>
</html>